

body {
    background-color: #a56450;
}

.main-title {
    font-family: "Unbounded", sans-serif;
    font-weight: 350;
    font-style: italic;
    background-color: #CFB997;
    color: #2F3020;
    width: 510px;
    text-align: center;
    margin: 15px auto 25px;

}

.head {
    text-align: center;
    margin: auto;
}
.intro {
    font-family: "Unbounded", sans-serif;
    text-align: center;
    font-size: 16px;
}

.steak-recipe {
    text-align: center;
    margin: 15px auto 25px;

}

.steak-pic {
    text-align: center;
    width: 410px;
    height: 310px;
    margin: auto;
    padding: 15px 100px;
    background-color: #CFB997;
}

#end {
    text-align: left;
    font-style: italic;
}

a {
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    color: #271802;
}

