body {
    background-color: #a56450;
}

.main-title {
    font-family: "Unbounded", sans-serif;
    font-weight: 350;
    font-style: italic;
    background-color: #CFB997;
    padding-right: 3000px;
    color: #2F3020;
    width: 300px;
    text-align: center;
    margin-left: 15px;
    font-size: 36px;
}

.cover {
    text-align: center;
}

.meat {
    font-family: "Unbounded", sans-serif;
}

#return {
    font-family: "Unbounded", sans-serif;
    text-align: center;
    font-size: 20px;
}

a {
    color:#271802;
}