body {
    background-color: #a56450;
}

.main-title {
    font-family: "Unbounded", sans-serif;
    font-weight: 350;
    font-style: italic;
    background-color: #CFB997;
    color: #2F3020;
    width: 510px;
    text-align: center;
    margin: 15px

}

.head {
    text-align: center;
    
}

.cover {
    text-align: left;
    margin: 15px;
    width: 510px;
}

.meat {
    font-family: "Unbounded", sans-serif;
}

#return {
    font-family: "Unbounded", sans-serif;
    text-align: left;
    font-size: 20px;
}

a {
    color:#271802;
}